<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tests" verbose="1">


    <test name="Login Tests">
        <classes>
            <class name="org.petya.LoginTest"/>
        </classes>
    </test>

    <test name="Header Page Test">
        <classes>
            <class name="org.petya.CreateNewPostTest"/>
        </classes>
    </test>

    <test name="Header Page Test">
        <classes>
            <class name="org.petya.DislikeButtonTest"/>
        </classes>
    </test>


    <test name="Screenshot Test">
        <classes>
            <class name="org.petya.ScreenshotTest"/>
        </classes>
    </test>

    <test name="Header Page Test">
        <classes>
            <class name="org.petya.HomePageTest"/>
        </classes>
    </test>
</suite>